.container  {
	width: 1090px;
	margin: 0 auto;
}
.header-div li {
	margin: 37px 35px 37px 0;
}
.header-div img {
	margin-right: 119px;
}
/*photo*/
.box1 img {
	width: 100%;
}
.box1-text  {
	top: 106px;
	left: 700px;
	width: 310px;
	text-align: center;
	color: white;
}
.box-text h3  {
	font-size: 16px;
}
.box1-text h4  {
	font-size: 48px;
}
.box1 {
	height: 460px;
}
.section-div {
	width: 490px;
	margin-right: 50px;
}
.section-text {
	width: 636px;
}
.section-div img {
	width: 100%;
}
.section-div h3 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 22px;
}
.section-div p {
	font-size: 16px;
}
.popularpost  {
	font-size: 22px;
	color: #FF7A00;
	margin: 85px 0;
}
.readmore  {
	color: #FF7A00;
	font-size: 14px;
	margin-top: 13px;

}
.loadmore {
	background-color: #FF7A00;
	width: 190px;
	height: 70px;
	text-align: center;
	padding:35px;
	margin:70px auto  130px auto;
}
.loadmore p {
	font-size: 16px;
	color: white;
}
.section-text  {
	margin-bottom: 50px;
}
.footer {
	width: 220px;
	margin-bottom: 200px;

}
.footer h4 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;

}
.footer li {
	font-size: 16px;
	color: #7B7B7B;
	font-family: 'Poppins';
	line-height: 1.5;

}
.footer img {
	margin-left: 10px;
	width: 50px;
	height: 35px;
}
.readmore::after {
	content: '';
	width: 50px;
	height: 5px;
	background-color: #FF7A00;
	float: right;
	margin-right: 350px;
	margin-top: 5px;
}
.black-div {
	background-color: #181C28;
	height: 265px;
	width: 100%;
	margin-bottom: 80px;

}